
.container{
    flex: 1;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    width: fit-content;

    margin: 30px;
    height: fit-content;
    border-radius: 100px;
    box-shadow: 0 0 5px #f5ccd4;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

h3 {
    font-size: 24px;
    text-align: center;
    color: #7a59c8;
  }


  .output{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #f5ccd4;
  }

  .txtInputContainer {
    margin: 10px 0;
    background-color: white;
    width: 60%;
    border: 1px solid #ccc;
    display: flex;
    justify-self: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 10px;
}

input {
    padding: 15px;
    width: 100%;
    font-size: 18px;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}


.txtInputContainer:hover {
    border-color: #999;
}

.txtInputContainer:focus-within {
    border-color: #f5ccd4;
    box-shadow: 0 0 5px #f5ccd4;
}

input:focus {
    border: none;
}

.FabWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fabContainer {
    background: linear-gradient(45deg, #f9c58d, #f492f0);
    color: white;
    border-radius: 50%;
    box-shadow: none;
    transition: background 0.3s ease;
}

.fabContainer:hover {
    background: linear-gradient(45deg, #f492f0, #f9c58d);

}
p {
    white-space: pre-wrap; /* Preserves spaces and line breaks */
    font-family: roboto; /* Optional: Use monospace font for alignment consistency */
    word-wrap: break-word; /* Optional: Break long words to avoid horizontal overflow */
    font-size: 20px;
  }

h5{
    font-family: sans-serif;
    font-weight: 500;
}